.tri-min-max-slider {
    flex-direction: row;
    flex-grow: 1;
}

.tri-min-max-slider__field {
    width: 48px;
    margin-left: 0;
    margin-right: 0;
}

.tri-min-max-slider__slider {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
}
