.tri-title {
    -unity-font-style: bold;
    margin: 7px -2px 2px 3px;
    font-size: 13px;
}

.tri-title__line {
    height: 2px;
    margin: 0 -5px 2px 0px;
    background-color: var(--tri-color-border);
}