/* ---- Palette ---- */

.tri-dark {
    --tri-color-border: #141414;
    --tri-color-header-background: #353535;
    --tri-color-content-background: #3e3e3e;
    --tri-color-hover: #585858;
    --tri-color-foldout-line: #6C6C6C;

    --tri-color-validation-background: #2A2A2A;

    --tri-color-validation-info-background: rgba(92, 92, 92, 0.3);
    --tri-color-validation-warning-background: rgba(108, 86, 18, 0.3);
    --tri-color-validation-error-background: rgba(122, 35, 35, 0.4);

    --tri-color-validation-info-icon: #D2D2D2;
    --tri-color-validation-warning-icon: #FFC107;
    --tri-color-validation-error-icon: #FF534A;

    --tri-color-validation-info-text: #D2D2D2;
    --tri-color-validation-warning-text: #FFC107;
    --tri-color-validation-error-text: #FF534A;
}

.tri-light {
    --tri-color-border: #7E7E7E;
    --tri-color-header-background: #B6B6B6;
    --tri-color-content-background: #C1C1C1;
    --tri-color-hover: #ECECEC;
    --tri-color-foldout-line: #929292;

    --tri-color-validation-background: #ECECEC;

    --tri-color-validation-info-background: rgba(255, 255, 255, 0.3);
    --tri-color-validation-warning-background: rgba(230, 184, 46, 0.3);
    --tri-color-validation-error-background: rgba(230, 92, 92, 0.3);

    --tri-color-validation-info-icon: #F0F0F0;
    --tri-color-validation-warning-icon: #C99700;
    --tri-color-validation-error-icon: #B10C0C;

    --tri-color-validation-info-text: #090909;
    --tri-color-validation-warning-text: #333308;
    --tri-color-validation-error-text: #5A0000;
}

/*
unity-label
  padding: 0 2px 0 1px

unity-base-field
  margin: 3px 1px
  
unity-base-field__inspector-field
  margin-right: -2px
  
unity-base-field__label
  margin-right: 2px
  padding-left: 2px
  padding-top: 2px
  
unity-property-field__label
  padding-left: 1px  
 */

.tri-inspector-element {
    overflow: visible;

    /* We need to reset the minimum size, sometimes it looks bad, 
       but it's the only way I found to make the content fit correctly, 
       especially in a horizontal group */
    min-width: 0;
}

.tri-aligned-generic {
    overflow: visible;
    margin-right: 0; /* Fix default -2px margin */
}

/* We want the arrow to be aligned with the text and not moved outward to the left. */
.tri-aligned-generic > .unity-base-field__label > .unity-foldout > .unity-foldout__toggle {
    margin: 0 !important;
    padding: 0 !important;
}

/* For non collapsible we hide arrow, so cleanup text offsets so it looks good without arrow */
.tri-aligned-generic--non-collapsible > .unity-base-field__label > .unity-foldout > .unity-foldout__toggle > .unity-foldout__input > .unity-foldout__text {
    margin: 0 !important;
    padding: 0 !important;
}

/* For collapsible we show Foldout in/instead label , so cleanup extra offsets here, and Foldout will exact match label */
.tri-aligned-generic--collapsible > .unity-base-field__label {
    padding: 0 !important;
}

/* We use Foldout for nice label only, so hide it content */
.tri-aligned-generic > .unity-base-field__label > .unity-foldout > .unity-foldout__content {
    display: none !important;
}

/* Always-open header: hide the arrow so only the label shows */
.tri-aligned-generic--non-collapsible > .unity-base-field__label > .unity-foldout > .unity-foldout__toggle > .unity-foldout__input > .unity-foldout__checkmark {
    display: none !important;
}

.tri-aligned-label__content {
    margin-left: 0; /* Fix default 3px margin */
}

/* ---- Foldout ---- */

.tri-foldout > .unity-foldout__toggle {
    margin-left: 3px; /* Fix default -12px, we want the arrow to be aligned with the text and not moved outward to the left. */
    margin-bottom: 1px; /* Fix default 3px, we make the foldout look like a regular field. */
}

.tri-foldout > .unity-foldout__content,
.tri-reference__content {
    border-left-width: 1px;
    border-left-color: var(--tri-color-foldout-line);

    margin-bottom: 3px; /* Additional indentation so that it is clearly visible where the foldout ends */

    margin-left: 8px; /* Move the margin to the left and the padding to the right.. */
    padding-left: 6px; /* ..so that our foldout line is centered under the arrow */
}

/* ---- Box group ---- */

.tri-box-group {
    margin: 1px -2px 1px 3px;
    border-width: 1px;
    border-color: var(--tri-color-border);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: var(--tri-color-content-background);
}

.tri-box-group__header {
    flex-direction: row;
    align-items: center;
    padding: 3px 5px;
    background-color: var(--tri-color-header-background);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tri-box-group__header > .unity-toggle {
    margin: 0;
}

.tri-box-group__title {
}

.tri-box-group__content {
    padding: 0;
    margin: 2px 5px 2px 0;
}

.tri-box-group > .unity-foldout > .unity-foldout__toggle {
    margin: 0;
    padding: 2px 0 3px 4px;
    background-color: var(--tri-color-header-background);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tri-box-group > .unity-foldout > .unity-foldout__toggle:hover {
    background-color: var(--tri-color-hover);
}

/* ---- Tab group ---- */

.tri-tab-group {
    margin: 1px -2px 1px 3px;
    background-color: var(--tri-color-content-background);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px;
    border-color: var(--tri-color-border);
}

.tri-tab-group__row {
    flex-direction: row;
}

.tri-tab-group__button {
    flex-grow: 1;
    margin: 0;
    padding: 3px 4px 2px 4px;
    border-radius: 0;
    border-width: 0 1px 1px 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: var(--tri-color-border);
    background-color: var(--tri-color-header-background);
}

.tri-tab-group__button--non-active:hover {
    border-bottom-width: 0;
    background-color: var(--tri-color-hover);
}

.tri-tab-group__button--active {
    padding-bottom: 3px;
    border-width: 0 1px 0 0;
    background-color: var(--tri-color-content-background);
}

.tri-tab-group__button--first {
}

.tri-tab-group__button--last {
    border-right-width: 0;
}

.tri-tab-group__content {
    padding: 0;
    margin: 2px 5px 2px 0;
}

/* ---- Horizontal group ---- */

.tri-horizontal-group {
    flex-direction: row;
}

.tri-horizontal-group__column {
    overflow: visible;
}

/* ---- List ---- */

.tri-list,
.tri-table {
    margin: 1px -2px 1px 3px;
    border-width: 1px;
    border-color: var(--tri-color-border);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    align-self: stretch;
}

.tri-list .unity-list-view__reorderable-item__container {
    padding-left: 0;
}

.tri-list .unity-list-view__reorderable-handle {
    justify-content: center;
    align-items: center;
    min-width: 20px;
    padding-right: 2px;
}

.tri-list__header {
    flex-direction: row;
    align-items: center;
    background-color: var(--tri-color-header-background);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tri-list__header .unity-toggle {
    margin: 0;
}

.tri-list__header-foldout {
    margin: 0;
    padding: 2px 0 3px 4px;
    flex-grow: 1;
}

.tri-list__header-foldout-collapsible:hover {
    background-color: var(--tri-color-hover);
}

.tri-list__header-foldout-non-collapsible .unity-foldout__checkmark {
    opacity: 0;
    width: 0;
    margin-right: 4px;
}

.tri-list__header-size {
    width: 48px;
    margin: 0 1px;
}

.tri-list__header-button {
    width: 24px;
    height: 20px;
    -unity-text-align: middle-center;
    font-size: 20px;
    border-left-width: 1px;
    border-color: var(--tri-color-border);
}

.tri-list__header-button:hover {
    background-color: var(--tri-color-hover);
}

.tri-list__header-button:disabled {
    opacity: 0.5;
}

.tri-list__element {
    flex-direction: row;
    align-items: flex-start;
}

.tri-list__element-content {
    flex-grow: 1;
    flex-shrink: 1;
}

.tri-list__element-remove {
    align-self: stretch;
    width: 24px;
    margin: 0 -5px 0 4px;
    -unity-text-align: middle-center;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
    border-left-width: 1px;
    border-color: var(--tri-color-border);
}

.tri-list__element-remove:hover {
    background-color: var(--tri-color-hover);
}

/* ---- Table list ---- */

.tri-table .unity-inspector-main-container {
    min-width: 10px;
}

.tri-table__header-remove-spacer {
    width: 24px;
    border-left-width: 1px;
    border-color: var(--tri-color-border);
}

.tri-table__header-columns {
    flex-direction: row;
    background-color: var(--tri-color-content-background);
    border-bottom-width: 1px;
    border-color: var(--tri-color-border);
}

.tri-table__header--reorderable {
    margin-left: 20px;
}

.tri-table__header-cell {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    -unity-text-align: middle-center;
    white-space: normal;
    padding: 2px 4px;
    border-left-width: 1px;
    border-color: var(--tri-color-border);
}

.tri-table__row {
    flex-direction: row;
}

.tri-table__cell {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    justify-content: flex-start;
    padding: 0 5px 0 0;
    border-left-width: 1px;
    border-color: var(--tri-color-border);
    overflow: visible;
}

.tri-table__cell .unity-base-field__label {
    min-width: 0;
}

/* ---- Info box ---- */

.tri-validation-results {
    margin: 3px 0 1px 0;
}

.tri-validation-results__bg {
    position: absolute;
    left: 1px;
    right: -3px;
    top: 0;
    bottom: 0;
    border-width: 1px 0 0 2px;
    border-radius: 5px 5px 4px 4px;
}

.tri-info-box {
    flex-direction: row;
    align-items: center;
    margin: 0 -2px 0 2px;
    padding: 3px 3px 3px 2px;
    border-left-width: 1px;
    background-color: var(--tri-color-validation-background);
}

.tri-info-box--first {
    border-top-left-radius: 5px;
}

.tri-info-box__icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    margin-left: 1px;
}

.tri-info-box__label {
    margin-left: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-width: 0;
    white-space: normal;
    -unity-text-align: middle-left;
}

.tri-info-box__action {
    font-size: var(--unity-metrics-default-font_semi_small_size);
    padding: 1px 6px;
    margin: 1px;
    min-width: 70px;
    max-width: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 5px;
    white-space: normal;
}

.tri-info-box--info {
    border-color: var(--tri-color-validation-info-icon);
}

.tri-info-box--warning {
    border-color: var(--tri-color-validation-warning-icon);
}

.tri-info-box--error {
    border-color: var(--tri-color-validation-error-icon);
}

.tri-info-box.tri-info-box--info {
    background-color: var(--tri-color-validation-info-background);
}

.tri-info-box.tri-info-box--warning {
    background-color: var(--tri-color-validation-warning-background);
}

.tri-info-box.tri-info-box--error {
    background-color: var(--tri-color-validation-error-background);
}

.tri-info-box--info > .tri-info-box__label {
    color: var(--tri-color-validation-info-text);
}

.tri-info-box--warning > .tri-info-box__label {
    color: var(--tri-color-validation-warning-text);
}

.tri-info-box--error > .tri-info-box__label {
    color: var(--tri-color-validation-error-text);
}

/* ---- No drawer ---- */

.tri-no-drawer__label {
    flex-grow: 1;
    -unity-text-align: middle-left;
}